<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="utf-8">
   <title>Cadastre-se</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="apple-touch-icon" sizes="180x180" href="../static/imgs/logo/simbolo.svg">
   <link rel="icon" type="image/png" sizes="32x32" href="../static/imgs/logo/simbolo.svg">
   <link rel="icon" type="image/png" sizes="16x16" href="../static/imgs/logo/simbolo.svg">
   <link rel="stylesheet" href="../static/styles/login.css">
   <link rel="stylesheet" href="../static/styles/cadastro.css">
   <meta name="theme-color" content="#ffffff">
   

</head>

<body>
   <div class="wrapper">
      <div class="title-text">
         <div class="logo-container">
            <img src="../static/imgs/logo/simbolo.svg" alt="logo BDEx">
         </div>
         <div class="title-container">
            <h1>Cadastro</h1>
         </div>
      </div>
      <div class="ldld">
         <label>CADASTRAR COMO:</label>
         <div class="toggle-container">
      </div>

         <label class="custom-switch">
            <input type="checkbox" id="toggleCadastro">
            <span class="custom-slider custom-round"></span>
            <span class="custom-label left"></span>
            <span class="custom-label right"></span>
            <span id="tipoUsuario" class="tipo-usuario-text">Empresa</span>
         </label>
      </div>

      <div class="form-container">
         <!-- Formulário de Empresa (mostrado por padrão) -->
         <div id="empresaForm" class="form-inner active">
            <form action="../server/cadastro_empresa.php" method="POST" class="login">
               <div class="field">
                  <label for="nome_empresa">Nome:</label>
                  <input type="text" placeholder="Digite seu nome" id="nome_empresa" name="nome_empresa" required>
               </div>
               <div class="field">
                  <label for="cnpj">CNPJ</label>
                  <input type="text" placeholder="Digite a CNPJ da empresa" id="cnpj" name="cnpj" required>
               </div>
               <div class="field">
                  <label for="endereco">Endereço:</label>
                  <input type="text" placeholder="Digite seu endereço" id="endereco" name="endereco" required>
               </div>
               <div class="field">
                  <label for="email">Email:</label>
                  <input type="text" placeholder="Digite seu e-mail" id="email" name="email" required>
               </div>
               <div class="field">
                  <label for="telefone_empresa">Telefone:</label>
                  <input type="text" placeholder="Digite seu telefone" id="telefone_empresa" name="telefone_empresa"
                     required>
               </div>
               <div class="field">
                  <label for="senha_empresa">Senha:</label>
                  <input type="password" placeholder="Digite sua senha" id="senha_empresa" name="senha" required>
               </div>
               <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Cadastrar Empresa">
               </div>
            </form>
         </div>

         <!-- Formulário de Desenvolvedor (escondido por padrão) -->
         <div id="desenvolvedorForm" class="form-inner">
            <form action="../server/cadastro_desenvolvedor.php" method="POST" class="login">
               <div class="field">
                  <label for="nome_desenvolvedor">Nome:</label>
                  <input type="text" placeholder="Digite seu nome" id="nome_desenvolvedor" name="nome_desenvolvedor"
                     required>
               </div>
               <div class="field">
                  <label for="telefone_desenvolvedor">Telefone:</label>
                  <input type="text" placeholder="Digite seu telefone" id="telefone_desenvolvedor"
                     name="telefone_desenvolvedor" required>
               </div>
               <div class="field">
                  <label for="email_desenvolvedor">Email:</label>
                  <input type="email" placeholder="Digite seu e-mail" id="email_desenvolvedor" name="email_desenvolvedor"
                     required>
               </div>
               <div class="field">
                  <label for="endereco_desenvolvedor">Endereço:</label>
                  <input type="text" placeholder="Digite seu endereço" id="endereco_desenvolvedor" name="endereco_desenvolvedor"
                     required>
               </div>
               <div class="field">
                  <label for="cpf">CPF:</label>
                  <input type="text" placeholder="Digite seu CPF:" id="cpf" name="cpf" required>
               </div>
               <div class="field">
                  <label for="skills">Skills:</label>
                  <input type="text" placeholder="Digite seus conhecimentos:" id="skills"
                     name="skills" required>
               </div>
               <div class="field">
                  <label for="senha_desenvolvedor">Senha:</label>
                  <input type="password" placeholder="Digite sua senha" id="senha_desenvolvedor" name="senha_desenvolvedor" required>
               </div>
               <div class="field btn">
                  <div class="btn-layer"></div>
                  <input type="submit" value="Cadastrar Desenvolvedor">
               </div>
            </form>
         </div>

         <div class="signup-link">
            Já tem conta? <a href="pglogin.html">Entrar</a>
         </div>
      </div>
   </div>
   <script src="../static/scripts/cadastro.js"></script>
  
</body>

</html>