
.simboloanimado {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

@keyframes girar {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes axoloteanda {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: rotateZ(5deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotateZ(20deg);
    }

}

@keyframes axolotedesloca {

    0% {
        transform: translateY(100px) translateX(-100px)
    }

    10% {
        transform: translateY(90px) translateX(-90px)
    }

    20% {
        transform: translateY(80px) translateX(-80px)
    }

    30% {
        transform: translateY(70px) translateX(-70px)
    }

    40% {
        transform: translateY(60px) translateX(-60px)
    }

    50% {
        transform: translateY(50px) translateX(-50px)
    }

    60% {
        transform: translateY(40px) translateX(-40px)
    }

    70% {
        transform: translateY(30px) translateX(-30px)
    }

    80% {
        transform: translateY(20px) translateX(-20px)
    }

    90% {
        transform: translateY(10px) translateX(-10px)
    }

    100% {
        transform: translateY(0) translateX(0)
    }



}

@keyframes pernaesquerda {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: rotateZ(-5deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotateZ(-20deg);
    }
}

@keyframes pernadireita {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: rotateZ(-10deg);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotateZ(-25deg);
    }
}


.axolote {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: axolotedesloca 2s infinite;
}

.axolote .corpo {
    z-index: 10;
    position: absolute;
    display: flex;
    transition: linear 2s;
    animation: axoloteanda 2s infinite;
}

.axolote .perna1 {
    left: -90px;
    bottom: -55px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pernaesquerda 2s infinite;
}

.axolote .perna2 {
    left: -90px;
    bottom: -63px;
    position: absolute;
    display: flex;
    animation: pernaesquerda 2s infinite;
    animation-delay: 0.2s;
}

.axolote .perna3 {
    left: -66px;
    bottom: -60px;
    position: absolute;
    display: flex;
    animation: pernadireita 2s infinite;
    animation-delay: 0.2s;
}

.axolote .perna4 {
    left: -75px;
    bottom: -65px;
    position: absolute;
    display: flex;
    animation: pernadireita 2s infinite;
}
@keyframes esquerda_para_centro {
    0%{
        transform: translateX(-5px) rotate(0);
    }
    100%{
        transform: translateX(600px) rotate(-360deg);
    }
}
@keyframes direita_para_centro {
    0%{
        transform: translateX(5px) rotate(0);
    }
    100%{
        transform: translateX(-600px) rotate(360deg);
    }
}

.setae {
    display: flex;
    position: absolute;
    left: -800px;
    animation:  esquerda_para_centro 2s ease-in-out;

}

.setad {
    display: flex;
    position: absolute;
    right: -800px;
    animation:   direita_para_centro 2s ease-in-out;
}

.imgcabeca {
    z-index: 10;
}

.imgcauda {

    z-index: 8;
    animation: axoloteanda 6s infinite;
}
.conteiner_preloader {
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: progress;
}
